<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.policy.mapper.CompanyPolicySubmissionDocumentMapper">

    <resultMap type="CompanyPolicySubmissionDocument" id="CompanyPolicySubmissionDocumentResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="submissionId"    column="submission_id"    />
        <result property="filePath"    column="file_path"    />
        <result property="name"    column="name"    />
        <result property="uploadDate"    column="upload_date"    />
    </resultMap>

    <sql id="selectCompanyPolicySubmissionDocumentVo">
        select id, user_id, submission_id, file_path, name, upload_date from company_policy_submission_document
    </sql>

    <select id="selectCompanyPolicySubmissionDocumentList" parameterType="CompanyPolicySubmissionDocument" resultMap="CompanyPolicySubmissionDocumentResult">
        <include refid="selectCompanyPolicySubmissionDocumentVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="submissionId != null "> and submission_id = #{submissionId}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="name != null  and name != ''"> and name = #{name}</if>
            <if test="uploadDate != null "> and upload_date = #{uploadDate}</if>
        </where>
    </select>

    <select id="selectCompanyPolicySubmissionDocumentById" parameterType="Integer" resultMap="CompanyPolicySubmissionDocumentResult">
        <include refid="selectCompanyPolicySubmissionDocumentVo"/>
        where id = #{id}
    </select>

    <select id="selectCompanyPolicySubmissionDocumentBySubmissionId" parameterType="Integer" resultMap="CompanyPolicySubmissionDocumentResult">
        <include refid="selectCompanyPolicySubmissionDocumentVo"/>
        where submission_id = #{id}
    </select>
    <select id="selectCompanyPolicySubmissionDocumentByName"
            resultType="com.ruoyi.web.controller.policy.domain.CompanyPolicySubmissionDocument">
        <include refid="selectCompanyPolicySubmissionDocumentVo"/>
        where submission_id=#{id} and name = #{name}
    </select>

    <insert id="insertCompanyPolicySubmissionDocument" parameterType="CompanyPolicySubmissionDocument" useGeneratedKeys="true" keyProperty="id">
        insert into company_policy_submission_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="submissionId != null">submission_id,</if>
            <if test="filePath != null">file_path,</if>
            <if test="name != null">name,</if>
            <if test="uploadDate != null">upload_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="submissionId != null">#{submissionId},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="name != null">#{name},</if>
            <if test="uploadDate != null">#{uploadDate},</if>
        </trim>
    </insert>

    <update id="updateCompanyPolicySubmissionDocument" parameterType="CompanyPolicySubmissionDocument">
        update company_policy_submission_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="submissionId != null">submission_id = #{submissionId},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="name != null">name = #{name},</if>
            <if test="uploadDate != null">upload_date = #{uploadDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyPolicySubmissionDocumentById" parameterType="Integer">
        delete from company_policy_submission_document where id = #{id}
    </delete>

    <delete id="deleteCompanyPolicySubmissionDocumentByIds" parameterType="String">
        delete from company_policy_submission_document where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteCompanyPolicySubmissionDocumentBySubmissionId">
        delete from company_policy_submission_document where submission_id = #{submissionId}
    </delete>
</mapper>