
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: scale(1, 1); 
}
html, body, #app {
  height: 100%;
  background-color: #F8F9FE;
}
.layout-container-demo {
  margin-top: 0 !important;
  height: 100% !important;
}
#header {
  height: 4.9vw !important;
}